.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
  border-radius: 8px;

  font-family: $font-heading;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: $c-white;
  text-decoration: none;
  letter-spacing: 0;

  background-color: $c-blue;

  @include tablet {
    width: 264px;
    margin-bottom: 91px;
  }

  @include small-desktop {
    margin-bottom: 0;
  }
}
