.header {
  position: relative;
  margin-left: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 48px;
  grid-template-areas:
    'nav nav'
    'con con'
    'gal gal';

  min-height: 100vh;
  min-width: $bp-mobile;
  padding: 20px 20px 0 20px;
  background: $c-dark;
  border-radius: 0 0 30px 30px;

  @include tablet {
    gap: 56px;
    min-height: 893px;
    padding: 20px 40px 0 40px;
  }

  @include small-desktop {
    grid-template-rows: auto auto;
    grid-template-areas:
      'nav nav'
      'con .';
    gap: 44px;
    min-height: 800px;
    padding: 48px 54px 0 54px;
  }

  &__navigation {
    grid-area: nav;
    align-self: start;
  }

  &__content {
    grid-area: con;
    align-self: start;

    @include small-desktop {
      align-self: end;
      margin-bottom: 205px;
    }
  }

  &__title {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -2px;
    color: $c-white;
    margin-bottom: 32px;

    @include tablet {
      font-size: 64px;
      line-height: 68px;
      margin-bottom: 24px;
    }

    @include small-desktop {
      margin-bottom: 32px;
    }
  }

  &__text {
    font-family: $font-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $c-white;
    margin-bottom: 72px;

    @include tablet {
      margin-bottom: 56px;
    }

    @include small-desktop {
      margin-bottom: 83px;
      max-width: 362px;
    }
  }

  &__gallery {
    grid-area: gal;
    align-self: end;
    margin: 0 -20px 0 -20px;
    width: calc(100% + 40px);

    @include tablet {
      margin: 0 -40px 0 -40px;
      width: calc(100% + 80px);
    }

    @include small-desktop {
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 0;
      width: auto;
    }
  }
}
