.navigation {
  display: flex;
  justify-content: space-between;

  &__controls {
    display: flex;
    gap: 114px;
    align-items: center;

    @include tablet {
      gap: 389px;
    }

    @include small-desktop {
      gap: 0;
    }
  }

  &__link {
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;

    font-family: $font-heading;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    color: $c-white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;

    transition: color 0.3s ease;

    &:hover {
      border-bottom: 2px solid $c-blue;
      color: $c-blue;
    }
  }
}
